{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Secretaria</title>
</head>

<body>

    <div class="container">
        {% include "user_bar.html" %}

        dashboard secretaria

        <a href="create_lawsuit" class="btn btn-warning">Ingresar Nuevo Escrito</a>

       
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número Pagare</th>
                    <th scope="col">Fecha Mora</th>
                    <th scope="col">Monto a Pagar</th>
                    <th scope="col">Número de Operación</th>
                    <th scope="col">Fecha Suscripción</th>
                    <th scope="col">Monto Demandado</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% for lawsuit in all_defendants.all %}
                <tr>

                    <td>{{lawsuit.first_name1}}</td>
                    <td>{{lawsuit.first_name2}}</td>
                    <td>{{lawsuit.last_name1}}</td>
                    <td>{{lawsuit.last_name2}}</td>
                    <td>{{lawsuit.address}}</td>
                    <td>{{lawsuit.rut}}</td>
                    <td><a href="edit_lawsuit/{{lawsuit.id}}">Editar Demanda</a></td>


                </tr>
                {% endfor%}

            </tbody>
        </table>











    </div>


</body>

</html>