{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Demanda</title>
</head>

<body>

    <div class="container">
        {% include "user_bar.html" %}

        <h2 class="text-muted">Nueva demanda en E-Jurídico</h2>
        <div class="row">
            <a href="/">Atrás</a>
            <div class="col-4 bg-light p-2 border ">
                <form action="create_lawsuit" method="POST" class="m-2 ">
                    {% csrf_token %}
                    {{lawsuitform.as_p}}
                    {{defendantform.as_p}}
                    <button type='submit' class="btn btn-primary col-auto m-2">Crear Demanda</button>
                </form>
            </div>
            <a href="/">Atrás</a>
    </div>
</body>    